Release/GeoTransformer.Extensibility/Service References/GeocachingService/geocaching.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Souvenirs.Common.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Souvenirs.Common.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://staging.api.groundspeak.com/Live/V6Beta/geocaching.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://staging.api.groundspeak.com/Live/V6Beta/geocaching.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Souvenirs.Common" />
  <xs:complexType name="ArrayOfSouvenir">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Souvenir" nillable="true" type="tns:Souvenir" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSouvenir" nillable="true" type="tns:ArrayOfSouvenir" />
  <xs:complexType name="Souvenir">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboutTheArtist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CacheID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatorGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatorID" type="xs:int" />
      <xs:element minOccurs="0" name="CreatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatorURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDiscovered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRangeEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRangeStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Feedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HowFound" type="xs:int" />
      <xs:element minOccurs="0" name="IgnoreLocation" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Souvenirs.Common" minOccurs="0" name="IsApproved" type="q1:SharedUtilities.ApprovalStatus" />
      <xs:element minOccurs="0" name="LuaPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SouvenirGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SouvenirID" type="xs:int" />
      <xs:element minOccurs="0" name="StateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ThumbPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Souvenir" nillable="true" type="tns:Souvenir" />
</xs:schema>